/* show_plot.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #555;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #555;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.plot-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #555;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}

a.button:hover {
    background-color: #444;
}

a.back-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #555;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

a.back-link:hover {
    background-color: #444;
}
