{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis App </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        function setTheme(theme) {
            document.documentElement.setAttribute('data-theme', theme);
        }

        // Example usage: switch to grey theme based on user preference or default
        // setTheme('grey'); 
    </script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'upload_csv' %}">Data Analysis App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload_csv' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'data' %}">Dataframe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'show_plot_page' %}">Data Visualization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'handle_missing_values' %}">Data Preprocessing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'report' %}">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'custom_plot' %}">Gets Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'get_stat' %}">Detailed Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statistics_original' %}">Summary Statistics</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Content -->
</body>
</html>
